aistudio-sdk>=0.3.5
chardet
colorlog
filelock
huggingface-hub
modelscope<1.29.2,>=1.28.0; python_version == "3.8"
modelscope>=1.28.0; python_version >= "3.9"
numpy<2.4,>=1.24
packaging
pandas>=1.3
pillow
prettytable
py-cpuinfo
pydantic>=2
PyYAML==6.0.2
requests
ruamel.yaml
typing-extensions
ujson
faiss-cpu; extra == "cv"
matplotlib; extra == "cv"
opencv-contrib-python==4.10.0.84; extra == "cv"
pycocotools<=2.0.8; extra == "cv"
pypdfium2>=4; extra == "cv"
scikit-image; extra == "cv"
einops; extra == "multimodal"
ftfy; extra == "multimodal"
GPUtil>=1.4; extra == "multimodal"
Jinja2; extra == "multimodal"
opencv-contrib-python==4.10.0.84; extra == "multimodal"
pypdfium2>=4; extra == "multimodal"
regex; extra == "multimodal"
safetensors>=0.7.0; extra == "multimodal"
sentencepiece; extra == "multimodal"
tiktoken; extra == "multimodal"
ftfy; extra == "ie"
imagesize; extra == "ie"
langchain<1.0,>=0.2; extra == "ie"
langchain-community<1.0,>=0.2; extra == "ie"
langchain-core; extra == "ie"
langchain-openai<1.0,>=0.1; extra == "ie"
langchain-text-splitters<1.0,>=0.2; extra == "ie"
lxml; extra == "ie"
openai>=1.63; extra == "ie"
opencv-contrib-python==4.10.0.84; extra == "ie"
openpyxl; extra == "ie"
premailer; extra == "ie"
pyclipper; extra == "ie"
pypdfium2>=4; extra == "ie"
scikit-learn; extra == "ie"
scipy; extra == "ie"
shapely; extra == "ie"
tokenizers>=0.19; extra == "ie"
beautifulsoup4; extra == "trans"
ftfy; extra == "trans"
imagesize; extra == "trans"
lxml; extra == "trans"
openai>=1.63; extra == "trans"
opencv-contrib-python==4.10.0.84; extra == "trans"
openpyxl; extra == "trans"
premailer; extra == "trans"
pyclipper; extra == "trans"
pypdfium2>=4; extra == "trans"
python-docx; extra == "trans"
scikit-learn; extra == "trans"
scipy; extra == "trans"
shapely; extra == "trans"
tokenizers>=0.19; extra == "trans"
imagesize; extra == "ocr-core"
opencv-contrib-python==4.10.0.84; extra == "ocr-core"
pyclipper; extra == "ocr-core"
pypdfium2>=4; extra == "ocr-core"
python-bidi; extra == "ocr-core"
shapely; extra == "ocr-core"
beautifulsoup4; extra == "ocr"
einops; extra == "ocr"
ftfy; extra == "ocr"
imagesize; extra == "ocr"
Jinja2; extra == "ocr"
latex2mathml; extra == "ocr"
lxml; extra == "ocr"
opencv-contrib-python==4.10.0.84; extra == "ocr"
openpyxl; extra == "ocr"
premailer; extra == "ocr"
pyclipper; extra == "ocr"
pypdfium2>=4; extra == "ocr"
python-bidi; extra == "ocr"
regex; extra == "ocr"
safetensors>=0.7.0; extra == "ocr"
scikit-learn; extra == "ocr"
scipy; extra == "ocr"
sentencepiece; extra == "ocr"
shapely; extra == "ocr"
tiktoken; extra == "ocr"
tokenizers>=0.19; extra == "ocr"
ftfy; extra == "speech"
jieba; extra == "speech"
Jinja2; extra == "speech"
OpenCC; extra == "speech"
pypinyin; extra == "speech"
regex; extra == "speech"
soundfile; extra == "speech"
tqdm; extra == "speech"
chinese-calendar; extra == "ts"
joblib; extra == "ts"
matplotlib; extra == "ts"
scikit-learn; extra == "ts"
decord==0.6.0; ((platform_machine == "x86_64" or platform_machine == "AMD64") and sys_platform != "darwin") and extra == "video"
opencv-contrib-python==4.10.0.84; extra == "video"
beautifulsoup4; extra == "base"
chinese-calendar; extra == "base"
decord==0.6.0; ((platform_machine == "x86_64" or platform_machine == "AMD64") and sys_platform != "darwin") and extra == "base"
einops; extra == "base"
faiss-cpu; extra == "base"
ftfy; extra == "base"
GPUtil>=1.4; extra == "base"
imagesize; extra == "base"
jieba; extra == "base"
Jinja2; extra == "base"
joblib; extra == "base"
langchain<1.0,>=0.2; extra == "base"
langchain-community<1.0,>=0.2; extra == "base"
langchain-core; extra == "base"
langchain-openai<1.0,>=0.1; extra == "base"
langchain-text-splitters<1.0,>=0.2; extra == "base"
latex2mathml; extra == "base"
lxml; extra == "base"
matplotlib; extra == "base"
openai>=1.63; extra == "base"
OpenCC; extra == "base"
opencv-contrib-python==4.10.0.84; extra == "base"
openpyxl; extra == "base"
premailer; extra == "base"
pyclipper; extra == "base"
pycocotools<=2.0.8; extra == "base"
pypdfium2>=4; extra == "base"
pypinyin; extra == "base"
python-bidi; extra == "base"
python-docx; extra == "base"
regex; extra == "base"
safetensors>=0.7.0; extra == "base"
scikit-image; extra == "base"
scikit-learn; extra == "base"
scipy; extra == "base"
sentencepiece; extra == "base"
shapely; extra == "base"
soundfile; extra == "base"
tiktoken; extra == "base"
tokenizers>=0.19; extra == "base"
tqdm; extra == "base"
openai>=1.63; extra == "genai-client"
einops; extra == "genai-sglang-server"
sglang[all]==0.5.2; extra == "genai-sglang-server"
torch==2.8.0; extra == "genai-sglang-server"
transformers; extra == "genai-sglang-server"
einops; extra == "genai-vllm-server"
torch==2.8.0; extra == "genai-vllm-server"
transformers<5.0.0; extra == "genai-vllm-server"
uvloop; extra == "genai-vllm-server"
vllm==0.10.2; extra == "genai-vllm-server"
paddle2onnx==2.0.2rc3; extra == "paddle2onnx"
aiohttp>=3.9; extra == "serving"
bce-python-sdk>=0.9; extra == "serving"
fastapi>=0.110; extra == "serving"
filetype>=1.2; extra == "serving"
opencv-contrib-python==4.10.0.84; extra == "serving"
pypdfium2>=4; extra == "serving"
starlette>=0.36; extra == "serving"
uvicorn>=0.16; extra == "serving"
yarl>=1.9; extra == "serving"
